In [2]:
# Remove warning errors
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Remove warning errors
import warnings
warnings.filterwarnings('ignore')

In [4]:
# Pandas functions
import pandas as pd
# Numpy functions
import numpy as np

In [5]:
#Display all columns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth',None)

In [6]:
#Importing the data conncatenated. Accidents from 2010 to 2018
data_map = pd.read_csv ('data_tableau_for_map_notebook.csv')

In [7]:
data_map.head()

,date,day,week_day,month,year,hour,district,address,record,cum_victims,unique_victims,severity,type_accident,vehicle,person,gendre,age,weather,road_status
0,2010-01-01,1,Friday,Jan,2010,From 00:00 to 00:59,CHAMARTIN,CALLE DE CARTAGENA NUM 104 Madrid,2010/135,1,1,slightly injured,double_colision,car,traveler,femenine,From 40 to 44 years,rain,wet
1,2010-01-01,1,Friday,Jan,2010,From 1:00 to 1:59,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM. 10200 Madrid,2010/94,7,1,slightly injured,multiple_colision,pedestrian,traveler,femenine,From 25 to 29 years,dry,wet
2,2010-01-01,1,Friday,Jan,2010,From 1:00 to 1:59,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM. 10200 Madrid,2010/94,7,1,slightly injured,multiple_colision,pedestrian,traveler,femenine,From 30 to 34 years,dry,wet
3,2010-01-01,1,Friday,Jan,2010,From 1:00 to 1:59,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM. 10200 Madrid,2010/94,7,1,slightly injured,multiple_colision,pedestrian,traveler,femenine,From 25 to 29 years,dry,wet
4,2010-01-01,1,Friday,Jan,2010,From 1:00 to 1:59,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM. 10200 Madrid,2010/94,7,1,slightly injured,multiple_colision,pedestrian,traveler,femenine,From 25 to 29 years,dry,wet

In [8]:
data_map.shape

(111841, 19)

In [9]:
# data_map.loc[111768]
# #moratalaz

In [10]:
data_map['district'].value_counts()

SALAMANCA                         8228
CHAMARTIN                         7968
CENTRO                            7624
CIUDAD LINEAL                     7159
PUENTE DE VALLECAS                7152
CARABANCHEL                       6881
MONCLOA-ARAVACA                   6331
FUENCARRAL-EL PARDO               6274
CHAMBERI                          6235
RETIRO                            6027
TETUAN                            5956
ARGANZUELA                        5653
LATINA                            5532
SAN BLAS                          5255
USERA                             3990
HORTALEZA                         3854
VILLAVERDE                        3145
MORATALAZ                         2872
VILLA DE VALLECAS                 2364
BARAJAS                           1569
VICALVARO                         1519
VILLA DE VALLECAS                  253
Name: district, dtype: int64

In [11]:
data_map['district'].isnull().sum()

0

In [12]:
#creating a columns for num_district: NO FUNCIONA
def district (x):
    if 'SALAMANCA'in x:
        return 'Salamanca'
    if 'CHAMARTIN'in x:
        return 'Chamartin'
    if 'CENTRO' in x:
        return 'Centro'
    if 'CIUDAD LINEAL' in x:
        return 'Ciudad Lineal'
    if 'PUENTE DE VALLECAS' in x:
        return 'Puente de Vallecas'
    if 'CARABANCHEL' in x:
        return 'Carabanchel'
    if 'CHAMBERI' in x:
        return 'Chamberí'
    if 'FUENCARRAL-EL PARDO'in x:
        return 'Fuencarral - El Pardo' 
    if 'RETIRO'in x:
        return 'Retiro'
    if 'TETUAN' in x:
        return 'Tetuán'
    if 'MONCLOA-ARAVACA' in x:
        return 'Moncloa - Aravaca'
    if 'ARGANZUELA' in x:
        return 'Arganzuela'
    if 'LATINA' in x:
        return 'Latina'
    if 'SAN BLAS'in x:
        return 'San Blas - Canillejas'
    if 'USERA' in x:
        return 'Usera'
    if 'HORTALEZA'in x:
        return 'Hortaleza'
    if 'VILLAVERDE' in x:
        return 'Villaverde'
    if 'MORATALAZ' in x:
        return 'Moratalaz'
    if 'VILLA DE VALLECAS' in x:
        return 'Villa de Vallecas'
    if 'BARAJAS' in x:
        return 'Barajas'
    if 'VICALVARO'in x:
        return 'Vicálvaro'
    if 'VILLA DE VALLECAS' in x:
        return 'Villa de Vallecas'

In [13]:
data_map['district']= data_map['district'].apply (district)

In [14]:
data_map['district'].value_counts()

Salamanca                8228
Chamartin                7968
Centro                   7624
Ciudad Lineal            7159
Puente de Vallecas       7152
Carabanchel              6881
Moncloa - Aravaca        6331
Fuencarral - El Pardo    6274
Chamberí                 6235
Retiro                   6027
Tetuán                   5956
Arganzuela               5653
Latina                   5532
San Blas - Canillejas    5255
Usera                    3990
Hortaleza                3854
Villaverde               3145
Moratalaz                2872
Villa de Vallecas        2617
Barajas                  1569
Vicálvaro                1519
Name: district, dtype: int64

In [15]:
data_map['district'].isnull().sum()

0

In [16]:
data_map[data_map['district'].isnull()]

Empty DataFrame
Columns: [date, day, week_day, month, year, hour, district, address, record, cum_victims, unique_victims, severity, type_accident, vehicle, person, gendre, age, weather, road_status]
Index: []

In [17]:
#creating a columns for num_district: NO FUNCIONA
def num_district (row):
    if row['district'] == 'Salamanca':
        return '04'
    if row['district'] == 'Chamartin':
        return '05'
    if row['district'] == 'Centro':
        return '01'
    if row['district'] == 'Ciudad Lineal':
        return '15'
    if row['district'] == 'Puente de Vallecas':
        return '13'
    if row['district'] == 'Carabanchel':
        return '11'
    if row['district'] == 'Chamberí':
        return '07'
    if row['district'] == 'Fuencarral - El Pardo' :
        return '08'
    if row['district'] == 'Retiro':
        return '03'
    if row['district'] == 'Tetuán':
        return '06'
    if row['district'] == 'Moncloa - Aravaca':
        return '09'
    if row['district'] == 'Arganzuela':
        return '02'
    if row['district'] == 'Latina':
        return '10'
    if row['district'] == 'San Blas - Canillejas':
        return '20'
    if row['district'] == 'Usera':
        return '12'
    if row['district'] == 'Hortaleza':
        return '16'
    if row['district'] == 'Villaverde':
        return '17'
    if row['district'] == 'Moratalaz':
        return '14'
    if row['district'] == 'Villa de Vallecas':
        return '18'
    if row['district'] == 'Barajas':
        return '21'
    if row['district'] == 'Vicálvaro':
        return '19'

In [18]:
data_map.apply (lambda row: num_district(row), axis=1)

0         05
1         13
2         13
3         13
4         13
          ..
111836    20
111837    20
111838    01
111839    04
111840    16
Length: 111841, dtype: object

In [19]:
data_map['num_district'] = data_map.apply (lambda row: num_district(row), axis=1)

In [20]:
data_map['num_district'].value_counts()

04    8228
05    7968
01    7624
15    7159
13    7152
11    6881
09    6331
08    6274
07    6235
03    6027
06    5956
02    5653
10    5532
20    5255
12    3990
16    3854
17    3145
14    2872
18    2617
21    1569
19    1519
Name: num_district, dtype: int64

In [21]:
data_map['num_district'].isnull().sum()

0

In [22]:
data_map[data_map['num_district'].isnull()]

Empty DataFrame
Columns: [date, day, week_day, month, year, hour, district, address, record, cum_victims, unique_victims, severity, type_accident, vehicle, person, gendre, age, weather, road_status, num_district]
Index: []

In [23]:
data_map['severity'].value_counts()

slightly injured     102716
seriously injured      8850
mortal                  275
Name: severity, dtype: int64

In [24]:
def clean_severity(x):
    if 'slightly injured'in x:
        return 'slightly injured'
    elif 'seriously injured'in x:
        return 'high severity or mortal'
    elif 'mortal' in x:
        return 'high severity or mortal'

In [25]:
data_map['high_severity']= data_map['severity'].apply (clean_severity)
data_map['high_severity'].value_counts()

slightly injured           102716
high severity or mortal      9125
Name: high_severity, dtype: int64

In [26]:
data_map.shape

(111841, 21)

In [27]:
data_map.head()

,date,day,week_day,month,year,hour,district,address,record,cum_victims,unique_victims,severity,type_accident,vehicle,person,gendre,age,weather,road_status,num_district,high_severity
0,2010-01-01,1,Friday,Jan,2010,From 00:00 to 00:59,Chamartin,CALLE DE CARTAGENA NUM 104 Madrid,2010/135,1,1,slightly injured,double_colision,car,traveler,femenine,From 40 to 44 years,rain,wet,05,slightly injured
1,2010-01-01,1,Friday,Jan,2010,From 1:00 to 1:59,Puente de Vallecas,AUTOVIA M-30 CALZADA 2 KM. 10200 Madrid,2010/94,7,1,slightly injured,multiple_colision,pedestrian,traveler,femenine,From 25 to 29 years,dry,wet,13,slightly injured
2,2010-01-01,1,Friday,Jan,2010,From 1:00 to 1:59,Puente de Vallecas,AUTOVIA M-30 CALZADA 2 KM. 10200 Madrid,2010/94,7,1,slightly injured,multiple_colision,pedestrian,traveler,femenine,From 30 to 34 years,dry,wet,13,slightly injured
3,2010-01-01,1,Friday,Jan,2010,From 1:00 to 1:59,Puente de Vallecas,AUTOVIA M-30 CALZADA 2 KM. 10200 Madrid,2010/94,7,1,slightly injured,multiple_colision,pedestrian,traveler,femenine,From 25 to 29 years,dry,wet,13,slightly injured
4,2010-01-01,1,Friday,Jan,2010,From 1:00 to 1:59,Puente de Vallecas,AUTOVIA M-30 CALZADA 2 KM. 10200 Madrid,2010/94,7,1,slightly injured,multiple_colision,pedestrian,traveler,femenine,From 25 to 29 years,dry,wet,13,slightly injured