In [369]:
# Cell-to-cell script
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [370]:
# Remove warning errors
import warnings
warnings.filterwarnings('ignore')

In [371]:
# Pandas functions
import pandas as pd
# Numpy functions
import numpy as np

In [372]:
#Display all columns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth',None)

In [373]:
#Importing the data conncatenated. Accidents from 2010 to 2018
data_total = pd.read_csv ('total_accidents_madrid.csv')

In [374]:
data_total.head()
data_total.shape

,fecha,rango_horario,dia_semana,distrito,lugar,num_calle,nº_parte,cpfa_granizo,cpfa_hielo,cpfa_lluvia,cpfa_niebla,cpfa_seco,cpfa_nieve,cpsv_mojada,cpsv_aceite,cpsv_barro,cpsv_grava_suelta,cpsv_hielo,cpsv_seca_y_limpia,victimas,tipo_accidente,tipo_vehiculo,tipo_persona,sexo,lesividad,tramo_edad
0,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,CALLE DE CARTAGENA NUM,104,2010/135,NO,NO,SI,NO,NO,NO,SI,NO,NO,NO,NO,NO,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 18 A 20 AÑOS
1,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,CALLE DE CARTAGENA NUM,104,2010/135,NO,NO,SI,NO,NO,NO,SI,NO,NO,NO,NO,NO,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 50 A 54 AÑOS
2,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,CALLE DE CARTAGENA NUM,104,2010/135,NO,NO,SI,NO,NO,NO,SI,NO,NO,NO,NO,NO,1,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,DE 40 A 44 AÑOS
3,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM.,10200,2010/94,NO,NO,NO,NO,SI,NO,SI,NO,NO,NO,NO,NO,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 25 A 29 AÑOS
4,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM.,10200,2010/94,NO,NO,NO,NO,SI,NO,SI,NO,NO,NO,NO,NO,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 30 A 34 ANOS

(252998, 26)

* Checking if we have NaN values

In [375]:
# #Checking nulls: 
# data_total.isnull().sum()
# # data.isnull().sum()/len(data)
# #THERE IS NO NAN VALUES!

In [376]:
# #Checking data types
# data_total.dtypes

#### UNDERSTANDING THE DATA

The file includes a record per person involved in the accident (drivers, travelers, pedestrians, witnesses, etc.)and it assigned the same number of part of accident (nº_parte) and number of victims to each accident.

Thus, the nº_parte is repeated, so a unique nº _parte represent a unique accident. Also the column 'Victimas' is repeated in the same nº_parte.

Dates: The column 'Fecha' indicates de date the accident happened. We need separated columns with month and year for our analysis.

**Create a column with the year and a columns with the month**

In [377]:
#Convert the 'fecha' column to datatime format
data_total['fecha']= pd.to_datetime(data_total['fecha'])

In [378]:
# data_total.dtypes

In [379]:
# Create new columns
data_total['day'] = data_total['fecha'].dt.day
data_total['month'] = data_total['fecha'].dt.month
data_total['year'] = data_total['fecha'].dt.year

In [380]:
data_total.columns

Index(['fecha', 'rango_horario', 'dia_semana', 'distrito', 'lugar',
       'num_calle', 'nº_parte', 'cpfa_granizo', 'cpfa_hielo', 'cpfa_lluvia',
       'cpfa_niebla', 'cpfa_seco', 'cpfa_nieve', 'cpsv_mojada', 'cpsv_aceite',
       'cpsv_barro', 'cpsv_grava_suelta', 'cpsv_hielo', 'cpsv_seca_y_limpia',
       'victimas', 'tipo_accidente', 'tipo_vehiculo', 'tipo_persona', 'sexo',
       'lesividad', 'tramo_edad', 'day', 'month', 'year'],
      dtype='object')

**Rearrange the order of the columns**

In [381]:
# We will change the order of the columns for an easier analysis.
data_total= data_total[['fecha','day','dia_semana','month', 'year','rango_horario','distrito', 'lugar',
       'num_calle', 'nº_parte','victimas','lesividad','tipo_accidente', 'tipo_vehiculo', 'tipo_persona','sexo',
       'tramo_edad', 'cpfa_granizo', 'cpfa_hielo', 'cpfa_lluvia',
       'cpfa_niebla', 'cpfa_seco','cpfa_nieve', 'cpsv_mojada', 'cpsv_aceite',
       'cpsv_barro', 'cpsv_grava_suelta', 'cpsv_hielo', 'cpsv_seca_y_limpia',
        ]]

In [382]:
# data_total.head(50)

In [383]:
#Change the name of the columns for english speacker understanding
data_total.rename(columns={"fecha": "date", "dia_semana": "week_day","rango_horario": "hour","distrito": "district","lugar": "street","num_calle": "num_street","nº_parte": "record","victimas": "victims",
                   "lesividad": "severity","tipo_accidente": "type_accident","tipo_vehiculo": "vehicle","victimas": "victims","lesividad": "severity",
                   "tipo_accidente": "type_accident","tipo_vehiculo": "vehicle","tipo_persona": "person","sexo": "gendre","tramo_edad": "age","cpfa_granizo": "hail",
                   "cpfa_hielo": "ice","cpfa_lluvia": "rain",
                   "cpfa_niebla": "fog","cpfa_seco": "dry","cpfa_nieve": "r_snow","cpsv_mojada": "r_wet","cpsv_aceite": "r_oil","cpsv_barro": "r_mud",
                   "cpsv_grava_suelta": "r_loose gravel","cpsv_hielo": "r_ice","cpsv_seca_y_limpia": "r_dryclean"},inplace=True)

**Let´s check the values of each column**

In [384]:
data_total.columns
data_total.shape

Index(['date', 'day', 'week_day', 'month', 'year', 'hour', 'district',
       'street', 'num_street', 'record', 'victims', 'severity',
       'type_accident', 'vehicle', 'person', 'gendre', 'age', 'hail', 'ice',
       'rain', 'fog', 'dry', 'r_snow', 'r_wet', 'r_oil', 'r_mud',
       'r_loose gravel', 'r_ice', 'r_dryclean'],
      dtype='object')

(252998, 29)

In [385]:
data_total.head()

,date,day,week_day,month,year,hour,district,street,num_street,record,victims,severity,type_accident,vehicle,person,gendre,age,hail,ice,rain,fog,dry,r_snow,r_wet,r_oil,r_mud,r_loose gravel,r_ice,r_dryclean
0,2010-01-01,1,VIERNES,1,2010,DE 00:00 A 00:59,CHAMARTIN,CALLE DE CARTAGENA NUM,104,2010/135,1,IL,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,DE 18 A 20 AÑOS,NO,NO,SI,NO,NO,NO,SI,NO,NO,NO,NO,NO
1,2010-01-01,1,VIERNES,1,2010,DE 00:00 A 00:59,CHAMARTIN,CALLE DE CARTAGENA NUM,104,2010/135,1,IL,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,DE 50 A 54 AÑOS,NO,NO,SI,NO,NO,NO,SI,NO,NO,NO,NO,NO
2,2010-01-01,1,VIERNES,1,2010,DE 00:00 A 00:59,CHAMARTIN,CALLE DE CARTAGENA NUM,104,2010/135,1,HL,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,DE 40 A 44 AÑOS,NO,NO,SI,NO,NO,NO,SI,NO,NO,NO,NO,NO
3,2010-01-01,1,VIERNES,1,2010,DE 1:00 A 1:59,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM.,10200,2010/94,7,HL,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,DE 25 A 29 AÑOS,NO,NO,NO,NO,SI,NO,SI,NO,NO,NO,NO,NO
4,2010-01-01,1,VIERNES,1,2010,DE 1:00 A 1:59,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM.,10200,2010/94,7,HL,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,DE 30 A 34 ANOS,NO,NO,NO,NO,SI,NO,SI,NO,NO,NO,NO,NO

In [386]:
 #checking the unique and description of the values in the data set
data_total.nunique()
for x in data_total:
     data_total[x].value_counts()

date               3287
day                  31
week_day              7
month                12
year                  9
hour                 24
district             22
street            16322
num_street          879
record            86817
victims              19
severity              5
type_accident        11
vehicle              12
person                4
gendre                3
age                  18
hail                  2
ice                   2
rain                  2
fog                   2
dry                   2
r_snow                2
r_wet                 2
r_oil                 2
r_mud                 2
r_loose gravel        2
r_ice                 2
r_dryclean            2
dtype: int64

2013-10-25    212
2017-12-21    182
2017-11-28    173
2017-03-10    170
2013-10-11    166
             ...
2011-01-02     15
2010-09-12     13
2014-08-31     13
2015-08-02     12
2011-04-23      7
Name: date, Length: 3287, dtype: int64

19    8810
4     8718
21    8687
20    8656
18    8605
11    8586
23    8552
14    8520
13    8517
5     8451
6     8357
16    8354
3     8306
24    8257
10    8236
17    8232
12    8222
9     8197
28    8193
22    8172
26    8120
27    8120
1     8091
7     8061
8     8004
25    7990
29    7882
2     7877
15    7871
30    7862
31    4492
Name: day, dtype: int64

VIERNES      43452
JUEVES       38794
MIERCOLES    38697
MARTES       37707
LUNES        36301
SABADO       30798
DOMINGO      27249
Name: week_day, dtype: int64

10    24491
11    23418
6     23212
12    22880
5     22495
9     21282
3     21025
7     20405
2     20194
4     20023
1     19703
8     13870
Name: month, dtype: int64

2018    30122
2017    29795
2016    29201
2015    28172
2014    27967
2011    27342
2012    26982
2013    26839
2010    26578
Name: year, dtype: int64

DE 14:00 A 14:59    18232
DE 19:00 A 19:59    18049
DE 20:00 A 20:59    17244
DE 18:00 A 18:59    16259
DE 13:00 A 13:59    15921
DE 15:00 A 15:59    14557
DE 12:00 A 12:59    14473
DE 9:00 A 9:59      14348
DE 17:00 A 17:59    14137
DE 21:00 A 21:59    14113
DE 16:00 A 16:59    13590
DE 11:00 A 11:59    12492
DE 8:00 A 8:59      11759
DE 10:00 A 10:59    11561
DE 22:00 A 22:59    10758
DE 23:00 A 23:59     7191
DE 7:00 A 7:59       6428
DE 00:00 A 00:59     4729
DE 6:00 A 6:59       3992
DE 1:00 A 1:59       3602
DE 2:00 A 2:59       2776
DE 3:00 A 3:59       2431
DE 5:00 A 5:59       2225
DE 4:00 A 4:59       2131
Name: hour, dtype: int64

SALAMANCA                         19269
CHAMARTIN                         18857
CENTRO                            17717
CIUDAD LINEAL                     16580
PUENTE DE VALLECAS                16180
CARABANCHEL                       15593
CHAMBERI                          14466
FUENCARRAL-EL PARDO               13750
RETIRO                            13665
TETUAN                            13626
MONCLOA-ARAVACA                   13587
ARGANZUELA                        13050
LATINA                            12218
SAN BLAS                          11987
USERA                              8808
HORTALEZA                          8546
VILLAVERDE                         6708
MORATALAZ                          6246
VILLA DE VALLECAS                  5059
BARAJAS                            3402
VICALVARO                          3142
VILLA DE VALLECAS                   542
Name: district, dtype: int64

AUTOVIA  M-30 CALZADA 1 KM.                                                                             7798
AUTOVIA  M-30 CALZADA 2 KM.                                                                             5779
PASEO DE LA CASTELLANA NUM                                                                              5022
CALLE DE ALCALA NUM                                                                                     3790
CALLE DE BRAVO MURILLO NUM                                                                              1607
                                                                                                        ...
CALLE DE LA MENTA - CALLE DEL ARROYO DE POZUELO                                                            1
CALLE DE MARTINEZ DE LA RIVA - CALLE DE GARCIA MIRANDA                                                     1
AVENIDA DE PUERTA DE HIERRO - CARRETERA DE PARDO A FUENCARRAL                                              1
CAMINO DE VALDECERVERO                                                                                     1
CALLE DE PIO BAROJA - PLAZA DEL DOCTOR LAGUNA                                                              1
Name: street, Length: 16322, dtype: int64

0             120977
1               7012
2               4784
                3727
3               3544
               ...
53200              1
50400              1
25900              1
612                1
670                1
Name: num_street, Length: 879, dtype: int64

2012/11769    27
2018/2669     22
2011/4407     22
2010/5878     21
2017/9166     20
              ..
2017/6448      1
2013/6917      1
2014/988       1
2013/4312      1
2015/2728      1
Name: record, Length: 86817, dtype: int64

1     183618
2      43631
3      14168
4       6165
5       2712
6       1116
7        755
8        270
9        139
10       120
11        56
13        46
19        42
18        41
14        33
12        28
22        22
16        19
15        17
Name: victims, dtype: int64

IL                                          130053
HL                                          102716
NO ASIGNADA                                  11104
HG                                            8850
MT                                             275
Name: severity, dtype: int64

COLISIÓN DOBLE                              145544
ATROPELLO                                    41398
COLISIÓN MÚLTIPLE                            29195
CAÍDA MOTOCICLETA                            14155
CHOQUE CON OBJETO FIJO                       12595
CAÍDA VIAJERO BUS                             2794
CAÍDA BICICLETA                               2616
CAÍDA CICLOMOTOR                              2536
VUELCO                                        1135
OTRAS CAUSAS                                  1011
CAÍDA VEHÍCULO 3 RUEDAS                         19
Name: type_accident, dtype: int64

TURISMO                                     131483
NO ASIGNADO                                  46852
MOTOCICLETA                                  32742
FURGONETA                                     9873
AUTO-TAXI                                     8311
AUTOBUS-AUTOCAR                               7017
CICLOMOTOR                                    6045
BICICLETA                                     5524
CAMION                                        2499
VARIOS                                        2117
AMBULANCIA                                     492
VEH.3 RUEDAS                                    43
Name: vehicle, dtype: int64

CONDUCTOR                                   158734
VIAJERO                                      47480
TESTIGO                                      31666
PEATON                                       15118
Name: person, dtype: int64

HOMBRE         160165
MUJER           80717
NO ASIGNADO     12116
Name: gendre, dtype: int64

DE 30 A 34 ANOS       31110
DE 35 A 39 AÑOS       30169
DE 25 A 29 AÑOS       29797
DE 40 A 44 AÑOS       26421
DE 45 A 49 AÑOS       22167
DESCONOCIDA           19724
DE 21 A 24 AÑOS       19532
DE 50 A 54 AÑOS       17999
DE 55 A 59 AÑOS       12454
DE 18 A 20 AÑOS        9304
DE 60 A 64 AÑOS        8362
DE MAS DE 74 AÑOS      6361
DE 65 A 69 AÑOS        5097
DE 70 A 74 AÑOS        3656
DE 0 A 5 AÑOS          3128
DE 10 A 14 AÑOS        2804
DE 15 A 17 AÑOS        2593
DE 6 A 9 AÑOS          2320
Name: age, dtype: int64

NO    252964
SI        34
Name: hail, dtype: int64

NO    252788
SI       210
Name: ice, dtype: int64

NO    224626
SI     28372
Name: rain, dtype: int64

NO    252410
SI       588
Name: fog, dtype: int64

SI    223743
NO     29255
Name: dry, dtype: int64

NO    252645
SI       353
Name: r_snow, dtype: int64

NO    220421
SI     32577
Name: r_wet, dtype: int64

NO    252438
SI       560
Name: r_oil, dtype: int64

NO    252794
SI       204
Name: r_mud, dtype: int64

NO    252378
SI       620
Name: r_loose gravel, dtype: int64

NO    252639
SI       359
Name: r_ice, dtype: int64

SI    218222
NO     34776
Name: r_dryclean, dtype: int64

**QUESTIONS WE NEED TO  ANSWER**:

- How many police records and  accidents are there in total?

- How many victims are there in total? What about the severity?

- Which is the max number of victims implicated in an accident? Wich is the most common number the victims per accident? 

- How many victims are there per Type of Accident?

- How many victims are ther per Year/Month/day week/ hour? 

- How many victims are per district?

1- **Total number of police records and accidents**

In [387]:
print('The total number of police record is',len(data_total))

The total number of police record is 252998

In [388]:
#Total accidents: a unique nº _parte represent a unique accident.
print('Total unique accidents',data_total['record'].nunique(), 'in Madrid from 2010 to 2018')
# There were 86.817 accidents in the city of Madrid from 2018 to 2021

Total unique accidents 86817 in Madrid from 2010 to 2018

2- **How many victims are there in total? What about the severity?**

**TYPE OF VICTIMS** according to the severity. 

The column LESIVIDAD It is an indicator of the severity of the accident according to the victims personal injuries:

- IL: Not injured
- HL: slightly injured
- HG: seriously injured
- MT: mortal
- NO ASIGNADA: unknown

For our analysis is interesanting only focusing on the accidents with victims. 
Thus, we won´t take into account the not assigned or not injured victims

In [389]:
#We create a new df by dropping the rows with values 'IL' or 'NO ASIGNADO' in the 'Victimas' columns.
#Thus, we have the data of accidents and victims injured.

In [390]:
# data = data_total.loc[(data_total['lesividad']!='NO ASIGNADA') & (data_total['lesividad']!='IL')]
data=data_total[(data_total['severity']!='NO ASIGNADA')]

In [391]:
data['severity'].value_counts()

IL                                          130053
HL                                          102716
HG                                            8850
MT                                             275
Name: severity, dtype: int64

In [392]:
# data.reset_index(drop=True, inplace=True)

In [393]:
def clean_severity(x):
    if 'IL'in x:
        return 'not injuried'
    elif 'HL'in x:
        return 'slightly injured'
    elif 'HG' in x:
        return 'seriously injured'
    elif 'MT'in x: 
        return 'mortal'

In [394]:
data['severity']= data['severity'].apply (clean_severity)
data['severity'].value_counts()

not injuried         130053
slightly injured     102716
seriously injured      8850
mortal                  275
Name: severity, dtype: int64

In [395]:
data=data[(data['severity']!='not injuried')]

In [396]:
data['severity'].value_counts()

slightly injured     102716
seriously injured      8850
mortal                  275
Name: severity, dtype: int64

In [397]:
#What about the severity of the victims?
data['severity'].value_counts()

slightly injured     102716
seriously injured      8850
mortal                  275
Name: severity, dtype: int64

Now, we have our data without without the no victims (data), thus we continue to analyse only accidents with injured victims.

But before, there are other columns values that need to be clean.We will clean some columns and translate all of them to english.

In [398]:
data['type_accident'].isnull().sum()

0

In [399]:
data['type_accident'].value_counts()

COLISIÓN DOBLE                              63684
ATROPELLO                                   15363
COLISIÓN MÚLTIPLE                           11635
CAÍDA MOTOCICLETA                            8752
CHOQUE CON OBJETO FIJO                       6473
CAÍDA BICICLETA                              1795
CAÍDA CICLOMOTOR                             1718
CAÍDA VIAJERO BUS                            1219
VUELCO                                        764
OTRAS CAUSAS                                  430
CAÍDA VEHÍCULO 3 RUEDAS                         8
Name: type_accident, dtype: int64

In [400]:
def clean_type_accident(x):
    if 'COLISIÓN DOBLE'in x:
        return 'double_colision'
    elif 'ATROPELLO'in x:
        return 'run_over'
    elif 'COLISIÓN MÚLTIPLE' in x:
        return 'multiple_colision'
    elif 'CAÍDA MOTOCICLETA'in x:
        return 'motorcycle_fall'
    elif 'CHOQUE CON OBJETO FIJO' in x:
        return 'object'
    elif 'CAÍDA BICICLETA'in x: 
        return 'bike_fall'
    elif 'CAÍDA VIAJERO BUS'in x: 
        return 'other'
    elif 'VUELCO'in x: 
        return 'other'
    elif 'OTRAS CAUSAS'in x: 
        return 'other'
    elif 'CAÍDA VEHÍCULO 3 RUEDAS'in x: 
        return 'other'
    else:
        return 'other'

In [401]:
data.columns

Index(['date', 'day', 'week_day', 'month', 'year', 'hour', 'district',
       'street', 'num_street', 'record', 'victims', 'severity',
       'type_accident', 'vehicle', 'person', 'gendre', 'age', 'hail', 'ice',
       'rain', 'fog', 'dry', 'r_snow', 'r_wet', 'r_oil', 'r_mud',
       'r_loose gravel', 'r_ice', 'r_dryclean'],
      dtype='object')

In [402]:
data['type_accident']= data['type_accident'].apply (clean_type_accident)

In [403]:
data['type_accident'].value_counts()

double_colision      63684
run_over             15363
multiple_colision    11635
motorcycle_fall       8752
object                6473
other                 4139
bike_fall             1795
Name: type_accident, dtype: int64

In [404]:
data['type_accident'].isnull().sum()

0

In [405]:
def clean_person(x):
    if 'CONDUCTOR'in x:
        return 'driver'
    elif 'VIAJERO'in x:
        return 'traveler'
    elif 'PEATON' in x:
        return 'pedestrian'

In [406]:
data['person']= data['person'].apply (clean_person)

In [407]:
data['person'].value_counts()

driver        71210
traveler      25827
pedestrian    14804
Name: person, dtype: int64

In [408]:
atropello= data[data['type_accident']=="run_over"]

In [409]:
# pedestrian.head()
atropello['vehicle'].value_counts()

NO ASIGNADO                                 14260
MOTOCICLETA                                   520
BICICLETA                                     198
TURISMO                                       178
CICLOMOTOR                                     97
AUTOBUS-AUTOCAR                                66
VARIOS                                         15
FURGONETA                                      12
AUTO-TAXI                                      10
CAMION                                          4
VEH.3 RUEDAS                                    2
AMBULANCIA                                      1
Name: vehicle, dtype: int64

In [410]:
pedestrian = atropello[atropello['person']=='pedestrian']
pedestrian.shape

(14273, 29)

In [411]:
# pedestrian.head()
pedestrian['vehicle'].value_counts()

NO ASIGNADO                                 14258
TURISMO                                         9
VARIOS                                          5
FURGONETA                                       1
Name: vehicle, dtype: int64

In [412]:
def clean_vehicle(x):
    if 'TURISMO'in x:
        return 'car'
    elif 'NO ASIGNADO'in x:
        return 'pedestrian'
    elif 'MOTO' in x:
        return 'moto'
    elif 'FURGONETA'in x: 
        return 'van'
    elif 'AUTO-TAXI'in x:
        return 'car'
    elif 'AUTOBUS-AUTOCAR' in x:
        return 'bus'
    elif 'CICLOMOTOR'in x: 
        return 'moto'
    elif 'BICICLETA'in x: 
        return 'bike'
    elif 'CAMION'in x: 
        return 'truck'
    elif 'VARIOS'in x: 
        return 'others'
    elif 'AMBULANCIA'in x: 
        return 'others'
    elif 'VEH.3 RUEDAS'in x: 
        return 'others'

In [413]:
data['vehicle']= data['vehicle'].apply (clean_vehicle)

In [414]:
data['vehicle'].value_counts()

car           49046
moto          35778
pedestrian    14882
bike           4948
bus            3209
van            2559
others         1040
truck           379
Name: vehicle, dtype: int64

In [415]:
data['month'] = data['month'].astype(str)

In [416]:
data['month'].value_counts()

10    10828
11    10370
6     10176
12     9963
5      9869
9      9541
3      9291
7      9092
2      8900
4      8816
1      8721
8      6274
Name: month, dtype: int64

In [417]:
def clean_month(x):
    if  x == '1':
        return 'Jan'
    elif x== '2':
        return 'Feb'
    elif '3' in x:
        return 'March'
    elif '4'in x: 
        return 'April'
    elif '5'in x:
        return 'May'
    elif '6' in x:
        return 'June'
    elif '7'in x: 
        return 'July'
    elif '8'in x: 
        return 'August'
    elif '9'in x: 
        return 'Sept'
    elif x=='10': 
        return 'Oct'
    elif x== '11': 
        return 'Nov'
    elif x== '12': 
        return 'Dec'

In [418]:
data['month']= data['month'].apply (clean_month)

In [419]:
data['month'].value_counts()

Oct       10828
Nov       10370
June      10176
Dec        9963
May        9869
Sept       9541
March      9291
July       9092
Feb        8900
April      8816
Jan        8721
August     6274
Name: month, dtype: int64

In [420]:
def clean_weekday(x):
    if 'LUNES'in x:
        return 'Mon'
    elif 'MARTES'in x:
        return 'Tuesday'
    elif 'MIERCOLES' in x:
        return 'Wednesday'
    elif 'JUEVES'in x: 
        return 'Thursday'
    elif 'VIERNES'in x:
        return 'Friday'
    elif 'SABADO' in x:
        return 'Saturday'
    elif 'DOMINGO'in x: 
        return 'Sunday'

In [421]:
data['week_day']= data['week_day'].apply (clean_weekday)

In [422]:
data['week_day'].value_counts()

Friday       19083
Wednesday    17240
Thursday     17038
Tuesday      16781
Mon          16327
Saturday     13401
Sunday       11971
Name: week_day, dtype: int64

In [423]:
def clean_gendre(x):
    if 'HOMBRE'in x:
        return 'masculine'
    elif 'MUJER'in x:
        return 'femenine'
    elif 'NO ASIGNADO' in x:
        return 'other'

In [424]:
data['gendre']= data['gendre'].apply (clean_gendre)

In [425]:
data['gendre'].value_counts()

masculine    69414
femenine     42427
Name: gendre, dtype: int64

In [426]:
data['hour']= data['hour'].replace({"DE":"From"},regex=True)
data['hour']= data['hour'].replace({"A":"to"},regex=True)

In [427]:
data['hour']

2         From 00:00 to 00:59
3           From 1:00 to 1:59
4           From 1:00 to 1:59
5           From 1:00 to 1:59
6           From 1:00 to 1:59
                 ...
252985    From 19:00 to 19:59
252986    From 19:00 to 19:59
252990    From 21:00 to 21:59
252991    From 21:00 to 21:59
252996    From 23:00 to 23:59
Name: hour, Length: 111841, dtype: object

In [428]:
data['age']= data['age'].replace({"DE":"From"},regex=True)
data['age']= data['age'].replace({"AÑOS":"years"},regex=True)
data['age']= data['age'].replace({"ANOS":"years"},regex=True)
data['age']= data['age'].replace({"A":"to"},regex=True)

In [429]:
data['age'].value_counts

<bound method IndexOpsMixin.value_counts of 2         From 40 to 44 years
3         From 25 to 29 years
4         From 30 to 34 years
5         From 25 to 29 years
6         From 25 to 29 years
                 ...
252985    From 35 to 39 years
252986    From 50 to 54 years
252990    From 21 to 24 years
252991    From 45 to 49 years
252996    From 50 to 54 years
Name: age, Length: 111841, dtype: object>

The column 'victims' represents the total number of vicitms of each accident, so is the same in all the rows with the same number of 'nº_parte'.
As we have dropped all the rows that correspond to peopele that are not victims of the accident ( ilesos + no asignados) every row corresponds to a victim of the accident and the column 'lesividad'assigs the type of victim that this person is ( leve, grave, mortal).
To facilitate further calculations we will change the name of the column 'victimas' to 'total_victimas' and  add an other column 'victimas' assigned the number one to each row.

In [430]:
data.rename(columns={"victims": "cum_victims"},inplace=True)

In [431]:
#add a new column with the same value for each row
# data_coord.assign(ciudad='Madrid')
data.insert(11, 'unique_victims', 1)

In [432]:
#Checking if our assumption is ok
print('There are',data.loc[~data['record'].duplicated(),'cum_victims'].sum(),'total injured victims')
print('If the output of the sum of new column is the same as the above , we are right:',data['unique_victims'].sum())

There are 111841 total injured victims
If the output of the sum of new column is the same as the above , we are right: 111841

In [433]:
data.head()

,date,day,week_day,month,year,hour,district,street,num_street,record,cum_victims,unique_victims,severity,type_accident,vehicle,person,gendre,age,hail,ice,rain,fog,dry,r_snow,r_wet,r_oil,r_mud,r_loose gravel,r_ice,r_dryclean
2,2010-01-01,1,Friday,Jan,2010,From 00:00 to 00:59,CHAMARTIN,CALLE DE CARTAGENA NUM,104,2010/135,1,1,slightly injured,double_colision,car,traveler,femenine,From 40 to 44 years,NO,NO,SI,NO,NO,NO,SI,NO,NO,NO,NO,NO
3,2010-01-01,1,Friday,Jan,2010,From 1:00 to 1:59,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM.,10200,2010/94,7,1,slightly injured,multiple_colision,pedestrian,traveler,femenine,From 25 to 29 years,NO,NO,NO,NO,SI,NO,SI,NO,NO,NO,NO,NO
4,2010-01-01,1,Friday,Jan,2010,From 1:00 to 1:59,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM.,10200,2010/94,7,1,slightly injured,multiple_colision,pedestrian,traveler,femenine,From 30 to 34 years,NO,NO,NO,NO,SI,NO,SI,NO,NO,NO,NO,NO
5,2010-01-01,1,Friday,Jan,2010,From 1:00 to 1:59,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM.,10200,2010/94,7,1,slightly injured,multiple_colision,pedestrian,traveler,femenine,From 25 to 29 years,NO,NO,NO,NO,SI,NO,SI,NO,NO,NO,NO,NO
6,2010-01-01,1,Friday,Jan,2010,From 1:00 to 1:59,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM.,10200,2010/94,7,1,slightly injured,multiple_colision,pedestrian,traveler,femenine,From 25 to 29 years,NO,NO,NO,NO,SI,NO,SI,NO,NO,NO,NO,NO

In [434]:
#Create two columns that groups the results of weather related columns and road status.

In [435]:
#creating a columns for weather:
def column_weather (row):
    if row['hail'] == 'SI' :
        return 'hail'
    if row['ice']== 'SI' :
        return 'ice'
    if row['rain'] == 'SI' :
        return 'rain'
    if row['fog'] == 'SI':
        return 'fog'
    if row['dry']  == 'SI':
        return 'dry'
    else:
        return 'other'

In [436]:
data.apply (lambda row: column_weather(row), axis=1)

2         rain
3          dry
4          dry
5          dry
6          dry
          ...
252985     dry
252986     dry
252990     dry
252991     dry
252996     dry
Length: 111841, dtype: object

In [437]:
data['weather'] = data.apply (lambda row: column_weather(row), axis=1)

In [438]:
data['weather'] .isnull().sum()

0

In [439]:
#creating a columns for road_status:
def column_road_status (row):
    if row['r_snow'] == 'SI' :
        return 'snow'
    if row['r_wet']== 'SI' :
        return 'wet'
    if row['r_oil'] == 'SI' :
        return 'oil'
    if row['r_mud'] == 'SI':
        return 'mud'
    if row['r_loose gravel']  == 'SI':
        return 'loose_gravel'
    if row['r_ice'] == 'SI':
        return 'ice'
    if row['r_dryclean'] == 'SI':
        return 'dry_clean'
    else:
        return'unknown'

In [440]:
data.apply (lambda row: column_road_status (row), axis=1)

2               wet
3               wet
4               wet
5               wet
6               wet
            ...
252985    dry_clean
252986    dry_clean
252990    dry_clean
252991    dry_clean
252996    dry_clean
Length: 111841, dtype: object

In [441]:
data['road_status'] = data.apply (lambda row: column_road_status(row), axis=1)

In [442]:
data['road_status'].isnull().sum()

0

In [443]:
data.shape

(111841, 32)

In [444]:
#join the column street + num  + Madrid into a new one

In [445]:
data["address"] = data["street"].astype(str) + data["num_street"].astype(str) + ' Madrid'

In [446]:
#creating a columns for num_district: NO FUNCIONA
# def num_district (row):
#     if row['district'] == 'SALAMANCA':
#         return '4'
#     if row['district'] == 'CHAMARTIN':
#         return '5'
#     if row['district'] == 'CENTRO':
#         return '1'
#     if row['district'] == 'CIUDAD LINEAL':
#         return '15'
#     if row['district'] == 'PUENTE DE VALLECAS':
#         return '13'
#     if row['district'] == 'CARABANCHEL':
#         return '11'
#     if row['district'] == 'CHAMBERI':
#         return '7'
#     if row['district'] == 'FUENCARRAL-EL PARDO':
#         return '8'
#     if row['district'] == 'RETIRO':
#         return '3'
#     if row['district'] == 'TETUAN':
#         return '6'
#     if row['district'] == 'MONCLOA-ARAVACA':
#         return '9'
#     if row['district'] == 'ARGANZUELA':
#         return '2'
#     if row['district'] == 'LATINA':
#         return '10'
#     if row['district'] == 'SAN BLAS':
#         return '20'
#     if row['district'] == 'USERA':
#         return '12'
#     if row['district'] == 'HORTALEZA':
#         return '16'
#     if row['district'] == 'VILLAVERDE':
#         return '17'
#     if row['district'] == 'MORATALAZ':
#         return '14'
#     if row['district'] == 'VILLA DE VALLECAS':
#         return '18'
#     if row['district'] == 'BARAJAS':
#         return '21'
#     if row['district'] == 'VICALVARO':
#         return '19'
#     if row['district'] == 'VILLA DE VALLECAS':
#         return '18'

In [447]:
# data.apply (lambda row: num_district(row), axis=1)

In [448]:
# data['num_district'] = data.apply (lambda row: num_district(row), axis=1) ##why it doesn´t work???

In [449]:
# 1	CENTRO
# 2	ARGANZUELA
# 3	RETIRO
# 4	SALAMANCA
# 5	CHAMARTIN
# 6	TETUAN
# 7	CHAMBERI
# 8	FUENCARRAL - EL PARDO
# 9	MONCLOA - ARAVACA
# 10	LATINA
# 11	CARABANCHEL
# 12	USERA
# 13	PUENTE DE VALLECAS
# 14	MORATALAZ
# 15	CIUDAD LINEAL
# 16	HORTALEZA
# 17	VILLAVERDE
# 18	VILLA DE VALLECAS
# 19	VICALVARO
# 20	SAN BLAS - CANILLEJAS
# 21	BARAJAS

In [450]:
data.reset_index(drop=True, inplace=True)

In [451]:
data.head()
data.shape

,date,day,week_day,month,year,hour,district,street,num_street,record,cum_victims,unique_victims,severity,type_accident,vehicle,person,gendre,age,hail,ice,rain,fog,dry,r_snow,r_wet,r_oil,r_mud,r_loose gravel,r_ice,r_dryclean,weather,road_status,address
0,2010-01-01,1,Friday,Jan,2010,From 00:00 to 00:59,CHAMARTIN,CALLE DE CARTAGENA NUM,104,2010/135,1,1,slightly injured,double_colision,car,traveler,femenine,From 40 to 44 years,NO,NO,SI,NO,NO,NO,SI,NO,NO,NO,NO,NO,rain,wet,CALLE DE CARTAGENA NUM 104 Madrid
1,2010-01-01,1,Friday,Jan,2010,From 1:00 to 1:59,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM.,10200,2010/94,7,1,slightly injured,multiple_colision,pedestrian,traveler,femenine,From 25 to 29 years,NO,NO,NO,NO,SI,NO,SI,NO,NO,NO,NO,NO,dry,wet,AUTOVIA M-30 CALZADA 2 KM. 10200 Madrid
2,2010-01-01,1,Friday,Jan,2010,From 1:00 to 1:59,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM.,10200,2010/94,7,1,slightly injured,multiple_colision,pedestrian,traveler,femenine,From 30 to 34 years,NO,NO,NO,NO,SI,NO,SI,NO,NO,NO,NO,NO,dry,wet,AUTOVIA M-30 CALZADA 2 KM. 10200 Madrid
3,2010-01-01,1,Friday,Jan,2010,From 1:00 to 1:59,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM.,10200,2010/94,7,1,slightly injured,multiple_colision,pedestrian,traveler,femenine,From 25 to 29 years,NO,NO,NO,NO,SI,NO,SI,NO,NO,NO,NO,NO,dry,wet,AUTOVIA M-30 CALZADA 2 KM. 10200 Madrid
4,2010-01-01,1,Friday,Jan,2010,From 1:00 to 1:59,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM.,10200,2010/94,7,1,slightly injured,multiple_colision,pedestrian,traveler,femenine,From 25 to 29 years,NO,NO,NO,NO,SI,NO,SI,NO,NO,NO,NO,NO,dry,wet,AUTOVIA M-30 CALZADA 2 KM. 10200 Madrid

(111841, 33)

3- **Which is the max number of victims implicated in an accident? Which is the most common number the victims per accident?**

In [452]:
#Which is the highest number of victims implicated in an accident?
print( 'The highest number of victims in an accidents is:',data['cum_victims'].max())
print( 'The lowest number of victims in an accidents is:',data['cum_victims'].min())

The highest number of victims in an accidents is: 22
The lowest number of victims in an accidents is: 1

In [453]:
#we have to analyse those accidents with severity or mortal consequences.What are the factors that contribute the most?

In [454]:
# data.dtypes

In [455]:
data.columns

Index(['date', 'day', 'week_day', 'month', 'year', 'hour', 'district',
       'street', 'num_street', 'record', 'cum_victims', 'unique_victims',
       'severity', 'type_accident', 'vehicle', 'person', 'gendre', 'age',
       'hail', 'ice', 'rain', 'fog', 'dry', 'r_snow', 'r_wet', 'r_oil',
       'r_mud', 'r_loose gravel', 'r_ice', 'r_dryclean', 'weather',
       'road_status', 'address'],
      dtype='object')

In [456]:
# We will change the order of the columns for an easier analysis and thus creating our cleaned data set.
data_clean= data[['date', 'day', 'week_day', 'month', 'year', 'hour', 'district',
       'address','record', 'cum_victims', 'unique_victims',
       'severity', 'type_accident', 'vehicle', 'person', 'gendre', 'age','weather',
       'road_status']]

In [457]:
data_clean.head(25)
data_clean.shape

,date,day,week_day,month,year,hour,district,address,record,cum_victims,unique_victims,severity,type_accident,vehicle,person,gendre,age,weather,road_status
0,2010-01-01,1,Friday,Jan,2010,From 00:00 to 00:59,CHAMARTIN,CALLE DE CARTAGENA NUM 104 Madrid,2010/135,1,1,slightly injured,double_colision,car,traveler,femenine,From 40 to 44 years,rain,wet
1,2010-01-01,1,Friday,Jan,2010,From 1:00 to 1:59,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM. 10200 Madrid,2010/94,7,1,slightly injured,multiple_colision,pedestrian,traveler,femenine,From 25 to 29 years,dry,wet
2,2010-01-01,1,Friday,Jan,2010,From 1:00 to 1:59,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM. 10200 Madrid,2010/94,7,1,slightly injured,multiple_colision,pedestrian,traveler,femenine,From 30 to 34 years,dry,wet
3,2010-01-01,1,Friday,Jan,2010,From 1:00 to 1:59,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM. 10200 Madrid,2010/94,7,1,slightly injured,multiple_colision,pedestrian,traveler,femenine,From 25 to 29 years,dry,wet
4,2010-01-01,1,Friday,Jan,2010,From 1:00 to 1:59,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM. 10200 Madrid,2010/94,7,1,slightly injured,multiple_colision,pedestrian,traveler,femenine,From 25 to 29 years,dry,wet
5,2010-01-01,1,Friday,Jan,2010,From 1:00 to 1:59,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM. 10200 Madrid,2010/94,7,1,slightly injured,multiple_colision,car,driver,femenine,From 25 to 29 years,dry,wet
6,2010-01-01,1,Friday,Jan,2010,From 1:00 to 1:59,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM. 10200 Madrid,2010/94,7,1,slightly injured,multiple_colision,car,traveler,femenine,From 21 to 24 years,dry,wet
7,2010-01-01,1,Friday,Jan,2010,From 1:00 to 1:59,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM. 10200 Madrid,2010/94,7,1,slightly injured,multiple_colision,van,driver,masculine,From 25 to 29 years,dry,wet
8,2010-01-01,1,Friday,Jan,2010,From 2:00 to 2:59,CHAMBERI,GLORIETA DE EMILIO CASTELAR - PASEO DE LA CASTELLANA 0 Madrid,2010/7,1,1,slightly injured,double_colision,moto,driver,masculine,From 35 to 39 years,dry,dry_clean
9,2010-01-01,1,Friday,Jan,2010,From 4:00 to 4:59,RETIRO,AUTOVIA M-30 CALZADA 1 KM. 8500 Madrid,2010/4,7,1,slightly injured,multiple_colision,car,driver,masculine,From 25 to 29 years,dry,dry_clean
10,2010-01-01,1,Friday,Jan,2010,From 4:00 to 4:59,RETIRO,AUTOVIA M-30 CALZADA 1 KM. 8500 Madrid,2010/4,7,1,seriously injured,multiple_colision,car,traveler,femenine,From 21 to 24 years,dry,dry_clean
11,2010-01-01,1,Friday,Jan,2010,From 4:00 to 4:59,RETIRO,AUTOVIA M-30 CALZADA 1 KM. 8500 Madrid,2010/4,7,1,slightly injured,multiple_colision,car,traveler,femenine,From 21 to 24 years,dry,dry_clean
12,2010-01-01,1,Friday,Jan,2010,From 4:00 to 4:59,RETIRO,AUTOVIA M-30 CALZADA 1 KM. 8500 Madrid,2010/4,7,1,slightly injured,multiple_colision,moto,driver,masculine,From 30 to 34 years,dry,dry_clean
13,2010-01-01,1,Friday,Jan,2010,From 4:00 to 4:59,RETIRO,AUTOVIA M-30 CALZADA 1 KM. 8500 Madrid,2010/4,7,1,slightly injured,multiple_colision,others,driver,masculine,From 18 to 20 years,dry,dry_clean
14,2010-01-01,1,Friday,Jan,2010,From 4:00 to 4:59,RETIRO,AUTOVIA M-30 CALZADA 1 KM. 8500 Madrid,2010/4,7,1,slightly injured,multiple_colision,others,traveler,femenine,From 21 to 24 years,dry,dry_clean
15,2010-01-01,1,Friday,Jan,2010,From 4:00 to 4:59,RETIRO,AUTOVIA M-30 CALZADA 1 KM. 8500 Madrid,2010/4,7,1,slightly injured,multiple_colision,others,traveler,masculine,From 18 to 20 years,dry,dry_clean
16,2010-01-01,1,Friday,Jan,2010,From 5:00 to 5:59,SALAMANCA,CALLE DE O'DONNELL - CALLE DEL DOCTOR ESQUERDO 0 Madrid,2010/172,1,1,slightly injured,double_colision,car,driver,masculine,From 60 to 64 years,dry,dry_clean
17,2010-01-01,1,Friday,Jan,2010,From 8:00 to 8:59,CARABANCHEL,PASEO DE SANTA MARIA DE LA CABEZA NUM 100 Madrid,2010/6,2,1,slightly injured,object,car,driver,masculine,From 35 to 39 years,dry,dry_clean
18,2010-01-01,1,Friday,Jan,2010,From 8:00 to 8:59,CARABANCHEL,PASEO DE SANTA MARIA DE LA CABEZA NUM 100 Madrid,2010/6,2,1,slightly injured,object,car,traveler,masculine,From 45 to 49 years,dry,dry_clean
19,2010-01-01,1,Friday,Jan,2010,From 9:00 to 9:59,CIUDAD LINEAL,AUTOVIA M-30 CALZADA 2 KM. 0 Madrid,2010/193,1,1,slightly injured,motorcycle_fall,moto,driver,masculine,From 30 to 34 years,rain,wet
20,2010-01-01,1,Friday,Jan,2010,From 9:00 to 9:59,MONCLOA-ARAVACA,AUTOVIA M-30 CALZADA 1 KM. 20300 Madrid,2010/195,1,1,slightly injured,object,car,driver,masculine,From 25 to 29 years,rain,wet
21,2010-01-01,1,Friday,Jan,2010,From 9:00 to 9:59,SALAMANCA,AUTOVIA M-30 CALZADA 1 KM. 5000 Madrid,2010/203,1,1,seriously injured,object,car,driver,masculine,From 30 to 34 years,rain,wet
22,2010-01-01,1,Friday,Jan,2010,From 20:00 to 20:59,TETUAN,CALLE DEL ARROYO - CALLE DE PINOS BAJA 0 Madrid,2010/21,1,1,slightly injured,double_colision,car,traveler,masculine,From 30 to 34 years,dry,dry_clean
23,2010-01-01,1,Friday,Jan,2010,From 21:00 to 21:59,CIUDAD LINEAL,CALLE DE ARGENTINA - CALLE DE SAMBARA 0 Madrid,2010/23,2,1,slightly injured,multiple_colision,car,driver,masculine,From 21 to 24 years,dry,wet
24,2010-01-01,1,Friday,Jan,2010,From 21:00 to 21:59,CIUDAD LINEAL,CALLE DE ARGENTINA - CALLE DE SAMBARA 0 Madrid,2010/23,2,1,slightly injured,multiple_colision,car,traveler,femenine,From 50 to 54 years,dry,wet

(111841, 19)

In [458]:
data_clean['month'].value_counts

<bound method IndexOpsMixin.value_counts of 0         Jan
1         Jan
2         Jan
3         Jan
4         Jan
         ...
111836    Dec
111837    Dec
111838    Dec
111839    Dec
111840    Dec
Name: month, Length: 111841, dtype: object>

**Exporting the data for tableau**

In [459]:
data_clean.to_csv('data_tableau_for_map_notebook.csv', index = False)